/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'OpenSans', sans-serif;
}

body {
    background-color: rgb(255, 245, 230);
}

.section {
    display: flex;
    height: calc(100vh - 4.5rem);
    align-items: center;
    justify-content: space-around;
    padding: 0px 4%;
}

/* Nav list */
a {
    color: antiquewhite;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding: 0px 4%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    height: 4.5rem;
    width: 100%;
    position: fixed;
}

.nav-list {
    list-style: none;
    display: flex;
    background-color: tomato;
    padding: 0px 4%;
}

.nav-list li {
    letter-spacing: 0.25rem;
    margin-left: 2rem;
}


/* Home */
#home-page {
    padding-top: 4.5rem;
}

.apresentation h1 {
    font-size: 5rem;
    font-family: 'OpenSans', sans-serif;
    letter-spacing: 0.25rem;
    color: rgb(1, 149, 160);
    margin-right: 1rem;
}

.perfil-image img{
    margin-left: 1rem;
}


/* About */
#about-page {
    background-color: antiquewhite;
}

.about-me p {
    color: tomato;
    font-size: 2rem;
    letter-spacing: 0.25rem;
    margin-left: 1rem;
}

.skills {
    width: 300px;
    height: 300px;
    margin-right: 1rem;
    border-radius: 0.5rem;
    background-color: tomato;
    color: antiquewhite;
}

.skills h2 {
    border-bottom: 2px solid antiquewhite;
    margin-bottom: solid 1px;
    text-align: center;
    letter-spacing: 0.15rem;
    padding: 1rem;
    text-transform: uppercase;
}

.skills li {
    list-style: none;
    text-align: center;
    letter-spacing: 0.15rem;
    padding: 1rem;
}


/* Projects */

#projects-page .container {
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    gap: 2rem;
}

#projects-page .container h2 {
    padding: 1rem;
    font-size: 2rem;
}

#projects-page .container .box-1 {
    background-color: antiquewhite;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid rgb(0, 175, 175);
}

#projects-page .container .box-2 {
    text-align: center;
    background-color: antiquewhite;
    border-radius: 0.5rem;
    border: 2px solid tomato;
}

#projects-page .container .box-3 {
    background-color: antiquewhite;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid tomato;
}

#projects-page .container .box-4 {
    background-color: antiquewhite;
    border-radius: 0.5rem;
    text-align: center;
    border: 2px solid rgb(0, 175, 175);
}

/* Contact */
#contact-page h1 {
    font-size: 4rem;
    color: tomato;
}