/* Container base */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  max-width: var(--container-width);
}

/* Container Home */
.container-home {
  display: flex;
  gap: 8rem;
}

.container-home .apresentation {
  max-width: 38rem;
}

.container-home .apresentation h1 {
  font-size: 6rem;
  letter-spacing: 0.25rem;
  color: var(--secondary-color);
}

/* Container Skills */
.container-skills .skills {
  width: 15.625rem;
  height: 26.25rem;
  margin-right: 4.5rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0.875rem 0.875rem 3.75rem -0.625rem #3d1e1093;
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.container-skills .skills h2 {
  border-bottom: 2px solid var(--background-color);
  margin-bottom: solid 1px;
  text-align: center;
  letter-spacing: 0.1rem;
  padding: 1rem;
  text-transform: uppercase;
}

.container-skills .skills li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  letter-spacing: 0.15rem;
  padding: 0.75rem 2rem;
}

.container-skills .about-me h2 {
  color: var(--primary-color);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.25rem;
}

.container-skills .about-me p {
  color: var(--primary-color);
  font-size: 1.25rem;
  letter-spacing: 0.08rem;
  margin-bottom: 0.625rem;
}

/* Container Grid */
.container-grid {
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 0;
  animation-duration: 2s;
  animation-name: scale;
}

/* Contact */
.container-contact {
  display: flex;
  gap: 3.5rem;
}

.container-contact .final-text {
  max-width: 35.5rem;
}

.container-contact .final-text h2 span {
  color: var(--secondary-color);
  font-size: 5rem;
}

.container-contact .contact-links ul li {
  min-width: max-content;
  list-style: none;
  text-align: left;
  letter-spacing: 0.2rem;
  padding: 1rem;
}

.container-contact .contact-links ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

.container-contact .contact-links .contact-icons {
  width: 3.25rem;
}
